<div class="product-container">
  <h2>iPhone</h2>
  <app-breadcrumb [breadCrumbStack]="breadCrumbData"></app-breadcrumb>
  <div class="d-flex">
    <div class="w-20">
      <app-filter (categoryChanged)="onCategoryChange($event)"></app-filter>
    </div>
    <div class="w-80">
      @if (searchMode) {
      <div class="d-flex space-between m-0">
        <p>({{ filteredProducts.length }}) Products Found</p>
        <p><span class="bold">Sort By:</span> Popularity</p>
      </div>
      @if (filteredProducts.length == 0) {
      <div class="text-center">
        <h2>No Product Found</h2>
      </div>
      }
      }
      <div class="d-flex m-0">
        @for (product of filteredProducts | paginate: { itemsPerPage: 9,
        currentPage: currentPage }; track product.id; ) {

        <div class="w-33">
          <app-product-card [cardInfo]="product"></app-product-card>
        </div>
        }
      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>