<header class="site-header">
  <div class="site-identity">
    <h1><a href="#">
        <img [src]="logoUrl" [alt]="'logo'">
        ClickTik</a></h1>
    <ul class="nav">
      <li><a href="#">Home</a></li>
    </ul>

  </div>
  <nav class="site-navigation">
    <ul class="nav">
      @if (isLoggedIn | async) {
      <li>
        <div class="search-container">
          <img src="../../../../../assets/img/search.svg">
          <input autocomplete="off" [formControl]="searchControl" type="text" id="search" placeholder="Search"
            (keyup)="onSearch()" />
        </div>
      </li>
      <li>
        <div class="cart-container">
          <img src="../../../../../assets/img/Cart.svg">
          <span>{{(cartItems | async)?.length || 0}}</span>
        </div>
      </li>
      <li><a>Account</a></li>
      }
      @else {
      <li><a href="#">Login</a></li>

      }

    </ul>
  </nav>
</header>