.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}

.alert {
  border-radius: 0.313rem;
  border-width: 1px;
  border-style: solid;
  padding: 1rem;
  min-width: 250px;
  max-width: 377px;
  z-index: 99;
  overflow: hidden;

  &.top {
    inset-block-start: 1rem;
  }

  &.right {
    inset-inline-end: 1rem;
  }

  &.bottom {
    inset-block-end: 1rem;
  }

  &.left {
    inset-inline-start: 1rem;
  }

  &.success {
    background-color: #eafffe;
    border-color: #9ffffb;

    .title,
    .message {
      color: #006a66;
    }

    .icon {
      color: #00bcb4;
    }
  }

  &.warning {
    background-color: #fff7e8;
    border-color: #ffe6b6;

    .title,
    .message {
      color: #513500;
    }

    .icon {
      color: #ffc352;
    }
  }

  &.error {
    background-color: #ffeaed;
    border-color: #ffbbc4;

    .title,
    .message,
    .icon {
      color: #a50017;
    }
  }

  .icon {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    vertical-align: top;
  }

  .content {
    display: inline-block;

    .title {
      font-size: 0.875rem;
      font-family: notoSansBold;
      margin-bottom: 5px;
      padding-inline-start: 10px;
    }

    .message {
      font-size: 0.875rem;
      font-family: notoSansRegular;
      padding-inline-start: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 330px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
