.product-card {
    border: 0.5px solid #424242;
    border-radius: 8px;
    .card-img {
        height: 257px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: 768px) {
            height: 160px;
        }
    }
    .card-body {
        padding: 10px;
        .price {
            display: flex;
            gap: 1em;
            .old-price {
                text-decoration: line-through;
            }
        }
        .product-info {
            display: flex;
            gap: 0.4em;
            p {
                margin: 0 0 0.3em;
                &.bold {
                    font-weight: 700;
                }
            }
        }
        .product-rate {
            display: flex;
            gap: 0.4em;
            justify-content: flex-end;
            margin-bottom: 0.5em;
            p {
                margin: 0 0 0.3em;
                &.muted {
                    color: #1E1E1E;
                }
            }

        }
    }
    button {
        font-size: 16px;
        font-weight: 700;
        color: #344054;
        background-color: #41CCCC;
        border-radius: 4px;
        border: none;
        width: 100%;
        text-align: center;
        padding: 10px 50px;
        cursor: pointer;
    }
}