<div class="position-fixed">
  @if (toastrData.title || toastrData.message) {
  <app-toastr [title]="toastrData.title" [message]="toastrData.message" [status]="'top right'"
    [class]="toastrData.type || 'error'"></app-toastr>
  }
  @for (error of toastrErrors | keyvalue ; track error) {
  @if (error?.value?.length) {
  <app-toastr [title]="error?.key" [message]="error?.value" [status]="'top right'" [class]="'error'"></app-toastr>
  }
  }
</div>
<app-header></app-header>
<div class="body-container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>